################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Abp.AppFactory.AsyncCrudAppServiceBase/v15
/Abp.AppFactory.AsyncCrudAppServiceBase/bin/Debug/netcoreapp2.1
/Abp.AppFactory.AsyncCrudAppServiceBase/obj
